<%= form_for recipe do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Name:</h3>
  <div class="text-field-input">
    <%= f.text_field :name %><br>
  </div>

  <h3>Ingredients:</h3>
  <table>
    <tr>
      <th>Amount</th>
      <th>Unit</th>
      <th>Ingredient Name</th>
    </tr>
  <% i = 0 %>
  <%= f.fields_for :quantities do |quantity| %>
    <tr>
      <td><%= quantity.text_field :amount %></td>
      <td><%= quantity.text_field :unit, value: @recipe.quantities[i].unit.name, list: "units_autocomplete"%></td>
      <td><%= quantity.text_field :ingredient, value: @recipe.quantities[i].ingredient.name, list: "ingredients_autocomplete"%></td>
    </tr>
    <% i += 1 %>
  <% end %>
  </table>

  <h3>Instructions:</h3>
  <div class="text-area-input">
  <%= f.fields_for :instructions do |instruction| %>
    <%= instruction.text_area :content %><br>
  <% end %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<datalist id="ingredients_autocomplete">
  <% Ingredient.all.each do |ingredient| %>
    <option value="<%=ingredient.name%>">
  <% end %>
</datalist>

<datalist id="units_autocomplete">
  <% Unit.all.each do |unit| %>
    <option value="<%=unit.name%>">
  <% end %>
</datalist>
