<datalist id="ingredients_autocomplete">
  <% Ingredient.all.each do |ingredient| %>
    <option value="<%=ingredient.name%>">
  <% end %>
</datalist>

<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Name:</h3>
  <div class="text-field-input">
    <%= f.text_field :name %><br>
  </div>

  <h3>Ingredients:</h3>
  <div class="text-field-datalist-input">
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.text_field :name, list: "ingredients_autocomplete" %><br>
  <% end %>
  </div>

  <h3>Instructions:</h3>
  <div class="text-area-input">
  <%= f.fields_for :instructions do |instruction| %>
    <%= instruction.text_area :content %><br>
  <% end %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
