<h1>Recipes</h1>
<%= link_to("Create a Recipe", new_recipe_path) %><br><br>

<%= form_tag(recipes_path, method: "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search] %><br>
  <%= submit_tag "Search" %><br><br>
<% end %>

<%= render(partial: 'name_with_user_links', collection: @recipes, as: :recipe) || "No Recipes!"%>
