<h1><%=@recipe.name%></h1>
<h3>Ingredients:</h3>
<table>
<tr>
  <th>Grams</th>
  <th>Name</th>
</tr>
<tr>
  <td>Grams Data</td>
  <td>Name Data</td>
</tr>
</table>

Recipe Name:<br><%=@recipe.name%><br><br>
Recipe Instructions:<br><%@recipe.instructions.each do |instruction|%><%=instruction.content%><br><%end%><br><br>
Recipe Quantites:<br><%@recipe.quantities.each do |quantity|%>
  <%=quantity.amount%><br>
  <%=quantity.unit%><br>
  <%=quantity.ingredient%><br><br>
<%end%>
